.wrapper {
  h2 {
    padding: 0 0 0 5vw;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.icon {
  padding-right: 10vw;
}

.iconBtn {
  width: fit-content;
  float: right;
  cursor: pointer;
}

.list {
  align-self: center;
  > div {
    width: 100%;
  }
}

.grid {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.emptyList {
  text-align: center;
}
