.wrapper {
  position: relative;
  min-height: 100vh;
  background-color: #fbfbfb;
}
.mobile {
  // ! Must check the mobile version
  display: grid;
  min-width: calc(900px + 10px);
}
.container {
  padding-bottom: 100px;
  width: 100%;
}
