.wrapper {
  display: grid;
  position: relative;
  min-height: 100vh;
  background-color: #fbfbfb;
  // ! Must check the mobile version
  // min-width: calc(900px + 10px);
}
.container {
  padding-bottom: 150px;
  width: 100%;
}
