@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}

.progressContainer {
  width: 50vw;
  text-align: center;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -55px;
}
.progress {
  position: relative;
  height: 10px;
  // width: 1110%;
  border: 10px solid #2f3c7e;
  border-radius: 15px;
}
.progress .color {
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 4s infinite linear;
  margin: -5px;
}
